name: Run Datadog Synthetic tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check-synthetics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Datadog Synthetics
        uses: DataDog/synthetics-ci-github-action@v0.17.0
        with:
          api_key: ${{ secrets.DD_API_KEY }}
          app_key: ${{ secrets.DD_APP_KEY }}
          test_search_query: 'tag:e2e-tests'
